# Project specific files
output.txt
nodes.txt
edges.txt
*.svg

# Executables
*.exe
*.out
*.app

!/**/
!*.*

# build directory
build/
bin/

#object directory
obj/

#CMakeFiles directory
CMakeFiles

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Temporary files
~*
*~
*.tmp
*.swo
*.swp

# Mac
.DS_Store
