# Project specific files
output.txt
build

# Executables
*.exe
*.out
*.app

!/**/
!*.*

# build directory
build/

#CMakeFiles directory
CMakeFiles

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Temporary files
~*
*~
*.tmp
*.swo
*.swp

# Mac
.DS_Store:
