[submodule "csv-reader"]
	path = csv-reader
	url = ../csv-reader/
[submodule "point"]
	path = point
	url = ../point/
[submodule "graphs"]
	path = graphs
	url = https://github.com/programonauta/graphs.git
